//$nav-color: hsl(0, 100%, 60%);
$footer-color: hsl(0, 100%, 60%);
$background-color: #2b2b2b;
$hover-color: $background-color;

@mixin display-flex() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin flex($args) {
    -webkit-box-flex: $args;
    -webkit-flex: $args;
    -ms-flex: $args;
    flex: $args; 
}

* {
  box-sizing: border-box;
}

body {
  background-color: $background-color;
  color: white;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

.nav {
  z-index: 2;
  transition: 0.4s;
  position: sticky;
  left: 0;
  top: 0;
  right: 0;
  padding: 1em 4em 1em 4em;
  margin-bottom: 2em;
  background-color: $background-color;
  opacity: 0.9;
  @include display-flex();
  justify-content: space-between;
  &__logo {
    // Placeholder styling until logo actually gets used
    &--name {
      font-size: 1.3em;
    }
    font-size: 1.5em;
    transition: 0.4s;
    user-select: none;
  }
  &__links {
    transition: 0.4s;
    li {
      list-style-type: none;
      &:hover {
        cursor: pointer;
        color: $hover-color;
        -webkit-transition: color .6s;
        transition: color .6s;
      }
      &:not(:hover) {
        -webkit-transition: color .6s;
        transition: color .6s;
      }
    }
    font-size: 1.3em;
    @include display-flex();
    align-items: center;
    :not(:last-child) {
      margin-right: 1.5em;
    }
  }
}

.footer {
  opacity: 0.9;
  background-color: $footer-color;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 2em;
  &__content {
    @include display-flex();
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 1em 4em 1em 4em;
  }
}

#backToTop:hover {
  cursor: pointer;
  color: $hover-color;
  -webkit-transition: color .6s;
  transition: color .6s;
}

#backToTop:not(:hover) {
  -webkit-transition: color .6s;
  transition: color .6s;
}

.active {
  border-top: solid 2px $hover-color;
}

.main {
  padding: 1em 4em 1em 4em;
  &__intro {
    @include display-flex();
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5em;
    .me {
      border-radius: 50%;
      text-align: center;
      width: 40%;
      display: block;
      margin: auto;
      margin-bottom: 2em;
    }
  }

  &__about {
    font-size: 1.3em;
  }

  &__skills {
    .row {
      @include display-flex();
      flex-flow: row wrap;
      justify-content: space-between;
    } 
  }

  &__projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    .tile {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
    }
    div.tile {
      height: auto;
      &:nth-child(odd) {
        background: #555D50;
      }
      background: #696969;
      padding: 1em;
      img {
        max-width: 100%;
      }
      button {
        display: block;
        width: 100%;
        height: 4em;
        background: transparent;
        border: solid 1px white;
        color: white;
        &:hover {
          cursor: pointer;
          background: $footer-color;
          -webkit-transition: background .6s;
          transition: background .6s;
          border: none;
        }
        &:focus {
          outline: none;
        }
        -webkit-transition: background .6s;
        transition: background .6s;
      }
    }
  }

  

  &__contact {
    @include display-flex();
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    label {
      display: block;
    }
    input[type="text"], input[type="email"], button[type="submit"] {
      height: 3em;
      border: solid 1px white;
    }
    textarea {
      border: solid 1px white;
    }
    input[type="text"], input[type="email"], textarea, button[type="submit"] {
      -webkit-transition: background .6s;
      transition: background .6s;
      display: block;
      width: 30vw;
      background: $background-color;
      color: white;
      margin-bottom: 1em;
      &:focus {
        outline: none;
        border-color: $footer-color;
      }
    }
    button[type="submit"]:hover {
      cursor: pointer;
      background: $footer-color;
      -webkit-transition: background .6s;
      transition: background .6s;
      border: none;
    }
    button[type="submit"] {
      &:disabled {
        color: gray;
        background: none;
      }
    }
  }
      
    
}

ul {
  padding: 0;
  margin: 0;
}

i {
  font-size: 3.5em;
  margin-right: 0.3em;
  margin-bottom: 0.3em;
}










  