@keyframes fadeInImg {
  0% {
    opacity: 0; }
  100% {
    opacity: 1.0; } }

* {
  box-sizing: border-box; }
  *:focus {
    outline: none; }

body {
  background-color: #2b2b2b;
  color: white;
  font-family: 'Montserrat', sans-serif;
  margin: 0; }
  body .loadingOverlay {
    position: fixed;
    z-index: 999;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    overflow: show;
    margin: auto;
    background-color: #2b2b2b;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    color: #ff3333;
    font-size: 48px; }

a {
  text-decoration: none; }

.nav {
  z-index: 2;
  -webkit-transition: padding-top 0.4s, padding-bottom 0.4s, background-color 0.4s;
  transition: padding-top 0.4s, padding-bottom 0.4s, background-color 0.4s;
  position: sticky;
  left: 0;
  top: 0;
  right: 0;
  padding: 1em 5em 1em 5em;
  margin-bottom: 2em;
  background-color: #ff3333;
  opacity: 0.9;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between; }
  .nav__logo {
    user-select: none; }
    .nav__logo--name {
      font-size: 1.4em; }
    .nav__logo--title {
      font-size: 1.2em; }
  .nav__links {
    font-size: 1.3em;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center; }
    .nav__links li {
      color: white;
      list-style-type: none;
      -webkit-transition: color 0.6s;
      transition: color 0.6s; }
      .nav__links li:hover {
        cursor: pointer;
        color: #2b2b2b; }
    .nav__links :not(:last-child) {
      margin-right: 1.5em; }

.nav-mobile {
  display: none; }

.footer {
  opacity: 0.9;
  background-color: #ff3333;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 2em; }
  .footer__content {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 1em 5em 1em 5em; }
    .footer__content--social > a {
      color: #2b2b2b;
      font-size: 3.5em; }
      .footer__content--social > a:hover {
        opacity: 0.7; }
      .footer__content--social > a:not(:last-child) {
        margin-right: 0.3em; }

.fadeIn {
  animation: fadeInImg 2s ease-in-out; }

.main {
  padding: 1em 5em 1em 5em; }
  .main__intro {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em; }
    .main__intro .me {
      border-radius: 50%;
      text-align: center;
      width: 35%;
      display: block;
      margin: auto;
      margin-bottom: 2em; }
  .main__about {
    font-size: 1.2em;
    line-height: 1.5; }
    .main__about a {
      -webkit-transition: color 0.4s;
      transition: color 0.4s;
      color: #ff3333; }
      .main__about a:hover {
        color: white; }
  .main__skills i {
    font-size: 3.3em;
    margin-right: 0.3em;
    margin-bottom: 0.3em; }
  .main__skills .row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; }
  .main__projectView button {
    margin-bottom: 1em;
    width: auto; }
  .main__projectView .project {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row; }
    .main__projectView .project .column {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-direction: column; }
      .main__projectView .project .column .buttons {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-direction: column; }
        .main__projectView .project .column .buttons a {
          display: inline-block;
          padding-bottom: 1em;
          color: #ff3333;
          -webkit-transition: color 0.4s;
          transition: color 0.4s; }
          .main__projectView .project .column .buttons a:hover {
            color: white;
            border: none; }
  .main__projectView img {
    align-self: start;
    width: 20em;
    min-width: 20em;
    max-width: 100%;
    margin-right: 1em;
    margin-bottom: 1em; }
  .main__projectView p {
    margin: 0 1em 1em 0;
    padding: 0; }
  .main__projects {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em; }
    .main__projects button {
      display: block; }
    .main__projects .tile {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between; }
      .main__projects .tile h5 {
        margin: 0 0 1em 0; }
      .main__projects .tile .project button {
        -webkit-transition: background 0.4s;
        transition: background 0.4s;
        width: 100%;
        background: #ff3333;
        padding: 1em;
        border: 0; }
        .main__projects .tile .project button:hover {
          cursor: pointer;
          background: #ff4747; }
    .main__projects div.tile {
      height: auto;
      background: #696969;
      padding: 1em; }
      .main__projects div.tile:nth-child(odd) {
        background: #555D50; }
      .main__projects div.tile img {
        max-width: 100%; }
  .main__contact {
    font-size: 1.2em;
    line-height: 1.5;
    text-align: center; }
    .main__contact a {
      display: block;
      -webkit-transition: color 0.4s;
      transition: color 0.4s;
      color: #ff3333; }
      .main__contact a:hover {
        color: white; }

ul {
  padding: 0;
  margin: 0; }

hr {
  background: #ff3333;
  border: 0;
  height: 2px; }

@media screen and (max-width: 660px) {
  .nav {
    display: none; }
  .nav-mobile {
    display: block;
    z-index: 1;
    position: sticky;
    background: #ff3333;
    opacity: 0.9;
    left: 0;
    top: 0;
    right: 0;
    padding: 0.8em; }
    .nav-mobile .link:active {
      background: #2b2b2b; }
    .nav-mobile ul {
      list-style: none; }
    .nav-mobile__logo {
      text-align: center; }
      .nav-mobile__logo--title {
        padding-bottom: 0.5em; }
    .nav-mobile i.fas.fa-bars {
      margin: 0;
      padding: 0;
      font-size: 1.8em; }
    .nav-mobile__links {
      background: inherit;
      position: fixed;
      left: -200px;
      display: block;
      padding: 2em;
      overflow-x: hidden;
      text-align: center;
      line-height: 2;
      -webkit-transition: all 0.6s ease-in-out;
      transition: all 0.6s ease-in-out; }
      .nav-mobile__links--close {
        font-size: 2.2em; }
  .main {
    padding: 1em; }
    .main__projects {
      grid-template-columns: 1fr; }
    .main__projectView .project {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-direction: column; }
      .main__projectView .project .column p {
        max-width: 100%; }
    .main__contact input[type="text"], .main__contact input[type="email"], .main__contact textarea, .main__contact button[type="submit"] {
      width: 90vw; }
    .main .me {
      width: 70%;
      margin-top: 2em; }
  .footer {
    text-align: center; }
    .footer__content {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-flow: column-reverse nowrap; } }

@media screen and (min-width: 660px) and (max-width: 847px) {
  .main__projects {
    grid-template-columns: repeat(2, 1fr); } }
