* {
  box-sizing: border-box; }
  *:focus {
    outline: none; }

body {
  background-color: #2b2b2b;
  color: white;
  font-family: 'Montserrat', sans-serif;
  margin: 0; }

.nav {
  z-index: 2;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  position: sticky;
  left: 0;
  top: 0;
  right: 0;
  padding: 1em 4em 1em 4em;
  margin-bottom: 2em;
  background-color: #2b2b2b;
  opacity: 0.9;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between; }
  .nav__logo {
    font-size: 1.5em;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    user-select: none; }
    .nav__logo--name {
      font-size: 1.3em; }
  .nav__links {
    -webkit-transition: 0.4s;
    transition: 0.4s;
    font-size: 1.3em;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center; }
    .nav__links li {
      list-style-type: none; }
      .nav__links li:hover {
        cursor: pointer;
        color: #2b2b2b;
        -webkit-transition: color 0.6s;
        transition: color 0.6s; }
      .nav__links li:not(:hover) {
        -webkit-transition: color 0.6s;
        transition: color 0.6s; }
    .nav__links :not(:last-child) {
      margin-right: 1.5em; }

.nav-mobile {
  display: none; }

.footer {
  opacity: 0.9;
  background-color: #ff3333;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 2em; }
  .footer__content {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 1em 4em 1em 4em; }
    .footer__content--social > a {
      color: #2b2b2b;
      font-size: 3.5em; }
      .footer__content--social > a:hover {
        opacity: 0.7; }
      .footer__content--social > a:not(:last-child) {
        margin-right: 0.3em; }

.active {
  border-top: solid 2px #2b2b2b; }

.main {
  padding: 1em 4em 1em 4em; }
  .main__intro {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    opacity: 0;
    -webkit-transition: opacity 2.8s;
    transition: opacity 2.8s;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5em; }
    .main__intro .me {
      border-radius: 50%;
      text-align: center;
      width: 35%;
      display: block;
      margin: auto;
      margin-bottom: 2em; }
  .main__about {
    font-size: 1.3em; }
  .main__skills i {
    font-size: 3.5em;
    margin-right: 0.3em;
    margin-bottom: 0.3em; }
  .main__skills .row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; }
  .main__projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em; }
    .main__projects .tile {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between; }
    .main__projects div.tile {
      height: auto;
      background: #696969;
      padding: 1em; }
      .main__projects div.tile:nth-child(odd) {
        background: #555D50; }
      .main__projects div.tile img {
        max-width: 100%; }
      .main__projects div.tile button {
        display: block;
        width: 100%;
        height: 4em;
        background: transparent;
        border: solid 1px white;
        color: white;
        -webkit-transition: background 0.6s;
        transition: background 0.6s; }
        .main__projects div.tile button:hover {
          cursor: pointer;
          background: #ff3333;
          -webkit-transition: background 0.6s;
          transition: background 0.6s;
          border: none; }
        .main__projects div.tile button:focus {
          outline: none; }
  .main__contact {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center; }
    .main__contact label {
      display: block; }
    .main__contact input[type="text"], .main__contact input[type="email"], .main__contact button[type="submit"] {
      height: 3em;
      border: solid 1px white; }
    .main__contact textarea {
      border: solid 1px white; }
    .main__contact input[type="text"], .main__contact input[type="email"], .main__contact textarea, .main__contact button[type="submit"] {
      -webkit-transition: background 0.6s;
      transition: background 0.6s;
      display: block;
      width: 30vw;
      background: #2b2b2b;
      color: white;
      margin-bottom: 1em; }
      .main__contact input[type="text"]:focus, .main__contact input[type="email"]:focus, .main__contact textarea:focus, .main__contact button[type="submit"]:focus {
        outline: none;
        border-color: #ff3333; }
    .main__contact button[type="submit"]:hover {
      cursor: pointer;
      background: #ff3333;
      -webkit-transition: background 0.6s;
      transition: background 0.6s;
      border: none; }
    .main__contact button[type="submit"]:disabled {
      color: gray;
      background: none; }

ul {
  padding: 0;
  margin: 0; }

hr {
  background-image: linear-gradient(90deg, red, transparent);
  border: 0;
  height: 2px; }

@media screen and (max-width: 847px) {
  .nav {
    display: none; }
  .nav-mobile {
    display: block;
    z-index: 1;
    position: sticky;
    background: #ff3333;
    opacity: 0.9;
    left: 0;
    top: 0;
    right: 0;
    padding: 0.8em; }
    .nav-mobile .link:active {
      background: #2b2b2b; }
    .nav-mobile ul {
      list-style: none; }
    .nav-mobile__logo {
      text-align: center; }
      .nav-mobile__logo--title {
        padding-bottom: 0.5em; }
    .nav-mobile i.fas.fa-bars {
      margin: 0;
      padding: 0;
      font-size: 2.5em; }
    .nav-mobile__links {
      background: inherit;
      position: fixed;
      left: -200px;
      display: block;
      padding: 2em;
      overflow-x: hidden;
      text-align: center;
      line-height: 2;
      -webkit-transition: all 0.6s ease-in-out;
      transition: all 0.6s ease-in-out; }
      .nav-mobile__links--close {
        font-size: 2.2em; }
  .main {
    padding: 1em;
    text-align: center; }
    .main__projects {
      grid-template-columns: 1fr; }
    .main__contact input[type="text"], .main__contact input[type="email"], .main__contact textarea, .main__contact button[type="submit"] {
      width: 90vw; }
    .main .me {
      width: 70%;
      margin-top: 2em; }
  .footer {
    text-align: center; }
    .footer__content {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-flow: column-reverse nowrap; } }

@media screen and (min-width: 760px) and (max-width: 847px) {
  .main__projects {
    grid-template-columns: repeat(2, 1fr); } }
